@import "fonts.css";

:root {
  /* design system */
  --color-white: hsl(0, 0%, 100%);
  --color-indigo-600: hsl(228, 45%, 44%);
  --color-rose-800: hsl(332, 45%, 34%);
  --color-rose-50: hsl(330, 100%, 98%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-brown-800: hsl(14, 45%, 36%);
  --size-1600: 128px;
  --size-600: 48px;
  --size-500: 40px;
  --size-400: 32px;
  --size-350: 28px;
  --size-300: 24px;
  --size-250: 20px;
  --size-200: 16px;
  --size-150: 12px;
  --size-100: 8px;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* custom variables */
  --card-max-width: 736px;
  --attribution-font-size: 11px;
  --color-attribution-links: var(--color-indigo-600);
  --color-main-background: var(--color-white);
  --color-preparation-background: var(--color-rose-50);
  --color-body-background: var(--color-stone-100);
  --color-font-primary: var(--color-stone-600);
  --color-font-main-heading: var(--color-stone-900);
  --color-font-accent-primary: var(--color-brown-800);
  --color-font-accent-secondary: var(--color-rose-800);
  --color-border: var(--color-stone-150);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.body {
  display: grid;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: var(--color-font-primary);
  background-color: var(--color-body-background);
  padding: var(--size-1600) var(--size-600);
}

.recipe__card {
  padding: var(--size-500);
  background-color: var(--color-main-background);
  border-radius: var(--size-300);
  justify-self: center;
  height: 100%;
  max-width: var(--card-max-width);
}

img {
  width: 100%;
  position: relative;
  border-radius: var(--size-150);
}

.text__content {
  margin-top: var(--size-500);
}

.main__heading,
.sub__headings {
  font-family: "Young Serif", Georgia, "Times New Roman", Times, serif;
}

.sub__headings {
  font-size: var(--size-350);
  color: var(--color-font-accent-primary);
  font-weight: var(--font-weight-regular);
  padding-bottom: var(--size-300);
}

.main__heading {
  color: var(--color-font-main-heading);
  font-size: var(--size-500);
  font-weight: var(--font-weight-bold);
}

/* section spacing */
.preparation,
.ingredients,
.instructions {
  margin: var(--size-400) 0;
}

.ingredients,
.instructions {
  border-bottom: solid 1px;
  border-color: var(--color-border);
  padding-bottom: var(--size-400);
}

/* main heading spacing */
.title p {
  margin-top: var(--size-300);
}

.preparation {
  background-color: var(--color-preparation-background);
  height: 100%;
  border-radius: var(--size-150);
  padding: var(--size-300);
}

.preparation h2 {
  font-size: var(--size-250);
  color: var(--color-font-accent-secondary);
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: var(--size-200);
}

.preparation li::marker {
  color: var(--color-font-accent-secondary);
}

ul {
  padding-left: var(--size-250);
}

ul > li:not(:last-child) {
  padding-bottom: var(--size-100);
}

ul > li {
  padding-left: var(--size-250);
}

.li__marker li::marker {
  color: var(--color-font-accent-primary);
}

.li__marker__ol__bold li::marker {
  font-weight: bolder;
}

.li__marker__ul__smaller li::marker {
  font-size: smaller;
}

.instructions ol {
  padding-left: var(--size-300);
}

.instructions ol > li:not(:last-child) {
  padding-bottom: var(--size-100);
}

.instructions ol > li {
  padding-left: var(--size-200);
}

.nutrition p {
  padding-bottom: var(--size-300);
}

.nutrition__table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition__table tr:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

.nutrition__table td:nth-child(even) {
  color: var(--color-font-accent-primary);
  font-weight: var(--font-weight-bold);
  padding-left: var(--size-200);
  padding-right: var(--size-400);
}

.nutrition__table td:nth-child(odd) {
  padding-left: var(--size-400);
}

.nutrition__table tr > td {
  padding-top: var(--size-150);
  padding-bottom: var(--size-150);
}

.attribution {
  font-size: var(--attribution-font-size);
  text-align: center;
  padding-top: var(--size-300);
}

.attribution a {
  color: var(--color-attribution-links);
}
