@import "fonts.css";

:root {
  /* design system */
  --color-white: hsl(0, 0%, 100%);
  --color-indigo-600: hsl(228, 45%, 44%);
  --color-rose-800: hsl(332, 45%, 34%);
  --color-rose-50: hsl(330, 100%, 98%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-brown-800: hsl(14, 45%, 36%);
  --size-1600: 128px; /* super-large */
  --size-600: 48px; /* xx-large */
  --size-500: 40px; /* x-large */
  --size-400: 32px; /* large */
  --size-300: 24px; /* medium-large */
  --size-250: 20px; /* medium */
  --size-200: 16px; /* small-medium */
  --size-150: 12px; /* small */
  --size-100: 8px; /* x-small */
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  /* custom variables */
  --color-attribution-links: var(--color-indigo-600);
  --color-main-background: var(--color-white);
  --color-preparation-background: var(--color-rose-50);
  --color-body-background: var(--color-stone-100);
  --color-font-primary: var(--color-stone-600);
  --color-font-main-heading: var(--color-stone-900);
  --color-font-accent-primary: var(--color-brown-800);
  --color-font-accent-secondary: var(--color-rose-800);
  --color-border: var(--color-stone-150);
  --size-medium-border-radius: var(--size-300);
  --size-small-border-radius: var(--size-150);
  --text-content-margin-top: var(--size-500);
  --main-heading-spacing: var(--size-300);
  --main-heading-size: var(--size-500);
  --preparation-sub-heading-size: var(--size-250);
  --preparation-sub-heading-spacing: var(--size-200);
  --section-spacing: var(--size-400);
  --padding-recipe-card-tblr: var(--size-500);
  --padding-body-tb: var(--size-1600);
  --padding-body-lr: var(--size-600);
  --padding-preparation-tblr: var(--size-300);
  --padding-instructions-ol-left: var(--size-300);
  --padding-instructions-ol-li-left: var(--size-200);
  --padding-instructions-ol-li-bottom: var(--size-100);
  --padding-sections-bottom: var(--size-400);
  --padding-nutrition-paragraph-bottom: var(--size-300);
  --subheadings-font-weight: var(--font-weight-regular);
  --subheadings-padding-bottom: var(--size-300);
  --main-heading-font-weight: var(--font-weight-bold);
  --preparation-heading-font-weight: var(--font-weight-semi-bold);
  --nutrition-table-font-weight: var(--font-weight-bold);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  margin: 0;
  display: grid;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: var(--color-font-primary);
  background-color: var(--color-body-background);
  padding: var(--padding-body-tb) var(--padding-body-lr);
}

.recipe__card {
  padding: var(--padding-recipe-card-tblr);
  background-color: var(--color-main-background);
  border-radius: var(--size-medium-border-radius);
  justify-self: center;
  height: 100%;
  max-width: 736px;
}

img {
  width: 100%;
  position: relative;
  border-radius: var(--size-small-border-radius);
}

.text__content {
  margin-top: var(--text-content-margin-top);
}

.main__heading,
.sub__headings {
  font-family: "Young Serif", Georgia, "Times New Roman", Times, serif;
}

.sub__headings {
  font-size: 28px;
  color: var(--color-font-accent-primary);
  font-weight: var(--subheadings-font-weight);
  padding-bottom: var(--subheadings-padding-bottom);
}

.main__heading {
  color: var(--color-font-main-heading);
  font-size: var(--main-heading-size);
  font-weight: var(--main-heading-font-weight);
}

.preparation,
.ingredients,
.instructions {
  margin: var(--section-spacing) 0;
}

.ingredients,
.instructions {
  border-bottom: solid 1px;
  border-color: var(--color-border);
  padding-bottom: var(--padding-sections-bottom);
}

.nutrition > *,
.preparation > *,
.ingredients > *,
.instructions > *,
.title > * {
  margin: 0;
}

.title p {
  margin-top: var(--main-heading-spacing);
}

.preparation {
  background-color: var(--color-preparation-background);
  height: 100%;
  border-radius: var(--size-small-border-radius);
  padding: var(--padding-preparation-tblr);
}

.preparation h2 {
  font-size: var(--preparation-sub-heading-size);
  color: var(--color-font-accent-secondary);
  font-weight: var(--preparation-heading-font-weight);
  margin-bottom: var(--preparation-sub-heading-spacing);
}

.preparation li::marker {
  color: var(--color-font-accent-secondary);
}

ul {
  padding-left: 20px;
}

ul > li:not(:last-child) {
  padding-bottom: 8px;
}

ul > li {
  padding-left: 20px;
}

.li__marker li::marker {
  color: var(--color-font-accent-primary);
}

.li__marker__ol__bold li::marker {
  font-weight: bolder;
}

.li__marker__ul__smaller li::marker {
  font-size: smaller;
}

.instructions ol {
  padding-left: var(--padding-instructions-ol-left);
}

.instructions ol > li:not(:last-child) {
  padding-bottom: var(--padding-instructions-ol-li-bottom);
}

.instructions ol > li {
  padding-left: var(--padding-instructions-ol-li-left);
}

.nutrition p {
  padding-bottom: var(--padding-nutrition-paragraph-bottom);
}

.nutrition__table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition__table tr:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

.nutrition__table td:nth-child(even) {
  color: var(--color-font-accent-primary);
  font-weight: var(--nutrition-table-font-weight);
  padding-left: 16x;
  padding-right: 32px;
}

.nutrition__table td:nth-child(odd) {
  padding-left: 32px;
}

.nutrition__table tr > td {
  padding-top: 12px;
  padding-bottom: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 24px;
}

.attribution a {
  color: var(--color-attribution-links);
}
